.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  text-align: center;
  box-shadow: 0px 10px 15px 5px rgba(darken($gray-dark, 10%), 0.2);
  height: 100%;
  width: 100%;
}
