.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.display {
  background: #4261e9;
  background: radial-gradient(circle at top left, #5b79ff, #4261e9);
  color: white;
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  text-align: right;
  flex-direction: column;
}

.keypad {
  grid-row: span 3;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
}

.operations {
  font-size: 2em;
}

.result {
  font-size: 5em;
  font-weight: 400;
  padding-top: 1rem;
}

.button {
  font-size: 2.5em;
  background: #354466;
  border: 1px solid #2f3c56;
  color: #a1c1e3;
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
}

.button:hover {
  background: #2f3c56;
}

.button:focus {
  outline: none;
}

.special-operator {
  font-weight: 400;
  font-size: 2em;
}

.invert {
  font-size: 3em;
  font-weight: 400;
}

.operator {
  color: #4261e9;
  font-size: 3.5em;
  font-weight: 400;
}

.equal {
  background-color: #4261e9;
  color: white;
  font-size: 3.5em;
  font-weight: 400;
  grid-column: span 2;
}

.equal:hover {
  background: #324eca;
}

@media screen and (min-width: 800px) {
  .App {
    max-width: 40rem;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
