@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 200;
  letter-spacing: 3px;
  background: $gray-dark;
}

html {
  font-size: 16px;
}
